extends layout
block canary
	h1 The Canary Islands
	p The fleet stopped briefly in the Canary Islands for more provisions; later, Magellan learned that his suppliers had swindled him by misrepresenting the quantity and quality of supplies they provided.
	a.canary(href='/verde') Next