extends layout
block guam
	h1 Guam
	p The first known contact between Guam and Western Europe occurred when Ferdinand Magellan, a Portuguese explorer, anchored his small 3-ship fleet in Umatac Bay on March 6, 1521. Magellan had started out in Spain with five ships but by the time they reached the Marianas they were down to three ships and lost close to half their crew. One of the five original ships got destroyed, and after seeing the first ship go down another ship had a mutiny and took off.
	a.guam(href='/philippines') Next