extends layout
block philippines
	h1 The Philippines
	p On 17 March Magellan reached the island of Homonhon in the Philippines, with 150 crew left. Members of his expedition became the first Spaniards to reach the Philippine archipelago, but they were not the first Europeans.
	p On the morning of 27 April 1521, Magellan sailed to Mactan with a small attack force. During the resulting battle against Lapu-Lapu's troops, Magellan was struck by a bamboo spear, and later surrounded and finished off with other weapons.