extends layout
block strait
	h1 Strait of Magellan
	p Ferdinand Magellan, a Portuguese sailor in the service of Charles I of Spain, became the first European to navigate the strait in 1520 during his global circumnavigation voyage.

	a.strait(href='/guam') Next