extends layout
block verde
	h1 Cape Verde
	p Magellan arrived at the Cape Verde Islands, where they set course for Cape St. Augustine in Brazil. On November 20, the equator was crossed; on December 6, the crew sighted Brazil.
	a.verde(href='/strait') Next